<div class="userhome-container">
  <div class="row">
    <div class="col-auto">
      <h2>Welcome, {{username}}!</h2>
    </div>
  </div>

  {{#if characters.length}}
  <div class="player-character-list">
    {{#each characters as |character|}}
      <div class="player-character-tile">
        <div class="player-character" id="player-character-{{character.id}}">
          <p char-id={{character.id}}>
            <span img-id="img-{{character.id}}">{{{get_sprite character.role}}}</span>
            {{character.name}}
            {{character.role}}
          </p>
        </div>
      </div>
    {{/each}}
  </div>
  {{/if}}

  <div id="btn">
    <div class="create-character">
      <button>CREATE A CHARACTER</button>
    </div>
    <div class="play-game">
      <button id="play-btn">PLAY</button>
    </div>
    <div class="delete-character">
      <button id="delete-btn">DELETE</button>
    </div>
  </div>

  {{!-- Modal for confirming deletes --}}
    {{!-- <div id="confirmModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete Character</h5>
                  <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="c-modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" id="confirm-delete">
                  Delete
                </button>
                <button class="btn btn-secondary" data-dismiss="modal" id="cancel">
                  Cancel
                </button>
            </div>
        </div>
    </div>

    {{!-- Modal for alerts --}}
    <div id="alertModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete Character</h5>
                  <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" id="close">
                Close
              </button>
            </div>
        </div>
    </div> --}}
</div>

<script src="./js/userhome.js"></script>