<section class="user-home">
  <h2>Welcome, {{username}}!</h2>
  
  {{#if characters.length}}
    <section class="user-home-char-list">
      {{#each characters as |character| }}
      <div class="user-home-char-row" char-id="{{character.id}}">
        <div class="user-home-char-col">
          <div class="user-home-char-img {{{get_static_right character.role}}}"></div>
        </div>
        <div class="user-home-char-col">
          <p>{{character.name}}</p>
        </div>
        <div class="user-home-char-col">
          <ul>
            <li>hp: {{character.health}}</li>
            <li>atk: {{character.attack}}</li>
            <li>ctr: {{character.counter}}</li>
          </ul>
        </div>
      </div>
      {{/each}}
    </section>
  {{/if}}

  <section class="user-home-btns">
    <button id="create-character">CREATE A CHARACTER</button>
    <button id="play" disabled="true">PLAY</button>
    <button id="delete-character" disabled="true">DELETE</button>
  </section>
</section>

<script src="./js/userhome.js"></script>