<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

{{#if characters.length}}
  <div class="character-list">
    {{#each characters as |character|}}
      <div class="row mb-4">
        <div
          class="col-md-5 player-character"
          id="player-character-{{character.id}}"
        >
          <p char-id={{character.id}}>
            <span img-id="img-{{character.id}}">{{{get_sprite
                character.role
              }}}</span>
            {{character.name}}
            {{character.role}}
          </p>
        </div>
      </div>
    {{/each}}
  </div>

{{/if}}
<div id="btn">
  <div class="create-character">
    <button>CREATE A CHARACTER</button>
  </div>
  <div class="play-game">
    <button id="play-btn" hidden>PLAY</button>
  </div>
  <div class="delete-character">
    <button id="delete-btn" hidden>DELETE</button>
  </div>

</div>
<script src="./js/userhome.js"></script>